/***AGENDA*********************************/

.centrerGlobal{
    display: flex;
    justify-content: center;
    background-color: #2a4798;
}

.global {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: #2a4798;
    align-items: center;
}
#categories {
    flex: 1;
    margin-top: 20px;
    width: 300px;
    padding: 1vw;
    margin-top: 4vw;
}
/*************************************/
.contenu {
    display: flex;
    position: relative;
}
.gauche, .droite{
    background-color: white;
    margin: 3vw;
    flex: 1;
    border-radius: 20px;
}
.droite{
    margin: 3vw 3vw 3vw 0;
}
.gauche{
    position: sticky;
    max-height: 500px;
    top: 20px;
}
.calendrier{
    width: 30vw;
    margin: 20px;
    background-color: white;
}

button {
    width: 4.2857vw; /* width calendrier/7=witdth du button */
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: transparent;
    border: 1px white solid;
    float: left;
    border: none;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 1.2em;
}

button:hover {
    cursor: pointer;
}

button.active {
    background-color: rgb(241, 124, 28);
    border-radius: 50%;
    color: white;
}

.head {
    display: flex;
    height: 32px;
    align-items: center;
    margin-top: 2vw;
    font-size: 1.5em;
}

.head div {
    flex-grow: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#av,
#ap {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}
.head2 {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}
.clear {
    display: block;
    zoom: 1;
    min-height: 246px;
}
.clear:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }

/*SOMMAIRE*********************************/
.sommaire{
    min-height: 10vh;
    margin-top: 2vw ;


}
.ligne-sommaire .categorie-sommaire {
    flex: 1;
    text-align: center;
    line-height: 20px;
}
/***************SOMMAIRE2***************************/
.ligne-sommaire2{
    display: flex;
    flex-wrap:wrap;
    /* margin: 1vw 4vw; */
}
.ligne-sommaire2 div{
   display: flex; 
   width: 29%;
   padding: 0 1vw;
}
 .couleur-sommaire2 {
    width: 3px;
    height: 10px;
    flex: 0.2;
    margin: 5px 1vw;
    border-radius: 20px;
}
.categorie-sommaire2{
    flex: 1.5;
    font-size: 0.9em;

}
/*Couleurs sommaire*/
.ligne-sommaire2 div .couleur-sommaire2:nth-child(1) {
    background-color: #eda901;
}

.ligne-sommaire2 div:nth-child(2) .couleur-sommaire2:nth-child(1) {
    background-color: #bf172e;
}

.ligne-sommaire2 div:nth-child(3) .couleur-sommaire2:nth-child(1) {
    background-color: #1f7833;
}

.ligne-sommaire2 div:nth-child(4) .couleur-sommaire2:nth-child(1) {
    background-color: #1d80c4;
}

.ligne-sommaire2 div:nth-child(5) .couleur-sommaire2:nth-child(1) {
    background-color: #754494;
}

.ligne-sommaire2 div:nth-child(6) .couleur-sommaire2:nth-child(1) {
    background-color: #da6612;
}

.ligne-sommaire2 div:nth-child(7) .couleur-sommaire2:nth-child(1) {
    background-color: #e24792;
}

.ligne-sommaire2 div:nth-child(8) .couleur-sommaire2:nth-child(1) {
    background-color: #0ca5aa;
}

.ligne-sommaire2 div:nth-child(9) .couleur-sommaire2:nth-child(1) {
    background-color: #3747d1;
}
.ligne-sommaire2 div:nth-child(10) .couleur-sommaire2:nth-child(1) {
    background-color: #63a518;
}

.ligne-sommaire2 div:nth-child(11) .couleur-sommaire2:nth-child(1) {
    background-color: #969193;
}

.ligne-sommaire2 div:nth-child(12) .couleur-sommaire2:nth-child(1) {
    background-color: #494b49;
}

/************* DROITE******************************/
.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 3vw;
}
.droite .jour{
    font-size: 2em;
}
.droite .border1,
.droite .border2 {
    height: 10px;
    width: 80%;
    background-color: #404040; /*voir en JS pour mettre la bonne couleur par rapport à la catégorie*/
    border-radius: 20px ;
}
.border2{
    margin-bottom: 3vw;
}
.article .evenement{
    font-weight: bold;
}
.article .lieu{
    font-size: 0.8em;
}