/* ------------------------------------------------------------------------- */
/* ----------------------------------------------MEDIA QUERIES 1200px ---- */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 1400px){
        .global {
            width: 70vw;
        }

        .calendrier {
            width: 35vw;
        }

        button {
            width: 5vw;
            /* width calendrier/7=witdth du button */
        }


}
/* ------------------------------------------------------------------------- */
/* ----------------------------------------------MEDIA QUERIES 1200px ---- */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
    .global {
        width: 80vw;
    }
    .calendrier {
        width: 40vw;
    }

    button {
        width: 5.714vw;
        /* width calendrier/7=witdth du button */
    }


}
/* ------------------------------------------------------------------------- */
/* ----------------------------------------------MEDIA QUERIES 1000px ---- */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    .global {
        width: 100vw;
    }

    .calendrier {
        width: 50vw;
    }

    button {
        width: 7.1428vw;
        /* width calendrier/7=width du button */
    }


        /***Connexion***************************************/

        .formulaire {
            width: 80vw;
        }

}


/* ------------------------------------------------------------------------- */
/* ----------------------------------------------MEDIA QUERIES 800px ---- */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
    .global {
        width: 100vw;
    }
    .contenu{
        flex-direction: column;
    }
    .calendrier {
        width: 85vw;
    }
    .sommaire{
        border-bottom: solid 10px #2a4798;
    }
    .gauche{
        position: relative;
    }
    .droite{
        margin: 15vw 3vw 3vw 3vw;
    }

    button {
        width: 14.28vw;
        /* width calendrier/7=width du button */
    }

}


