body
{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

/***HEADER****/

header
{
    display: flex;
    align-items: center;
    background-color: white;
}
.top
{
    flex:1;
    text-align: left;
    align-items: center;
}
.pseudo
{
    display:flex;
}
.pseudo i
{
    font-size: 3rem;
    padding: 0 1vw;
}
.centre
{
    flex: 1;
}

/***AGENDA****/


#categories
{
    flex:1;
    margin-top: 20px;
}

/***Tableau****/

body
{
    background-color:#2a4798;
}
.tableau
{
    background-color: white;
    margin: 10vh;
    padding: 3vh;
    border-radius: 3vh;
}

.ligne
{
    margin:2vh 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.titre
{
    flex: 1;
    text-transform: uppercase;
    padding: 1vh 0;
    background-color: #404040;
    margin: 0.1vh;
    color: white;

}
.bloc
{
    padding-top: 2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(1);
    transition: all .5s;
    font-size: 1rem;
    text-align: center;
}
.contenu
{
    flex: 1;
    justify-content: center
}  
.bouton
{
    display: flex;
    justify-content: center;
    background-color: #2a4798;
    color: white;
    padding: 1.8vh;
    margin: 2vh;
    border-radius: 1.3vh;
}
.nom
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}

/***Connexion****/

.formulaire
{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10vh;
    padding: 3vh;
    border-radius: 3vh;
}
.colonne
{
    display: flex;
    flex-direction: column;
    
}
a
{
    display: flex;
    justify-content: center;
}

/***Pannel Admin****/

.admin
{
    background-color: white;
    color: black;
    border-radius: 3vh;
}
.btn
{
    padding: 6vh;
    margin: 10vh;
    
}